
*{
    box-sizing: border-box;
}
article{
    background-color: lightgray;
    padding: 5px;
}
article h1{
    background-color: red;
    color: white;
    margin: 0px;
}

section{
    display: flex;
    flex-flow: wrap;
    flex-direction: row-reverse;
    gap: 5px;
    align-items: baseline;
    align-content: flex-start;
    /*justify-content: ;*/
}
section > *{
    /*flex-basis: calc(33% - 5px);
    flex-grow: 1;
    flex-shrink: 0;*/
    flex-basis: calc(33% - 5px);
}
section article:nth-child(1){
    order: -20;
}
.probaBox{
    flex-grow: 3;
    align-self: flex-end;
    order:-10;
}
/*Menü kialakítása*/
#fenti_menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer nav{
    display: flex;
    justify-content: center;
}
  @media only screen and (max-width:600px){
        section{
            flex-direction: column;
        }
        nav{
            flex-direction: column;
        }
        #fenti_menu{
            display: flex;
            flex-direction: column;
        }
  }